
<h3>Update the Project:</h3>
<form action="/project_details/<%= @project.id %>" method="post" autocomplete="off">
  <input name="_method" type="hidden" value="patch">
  <label for="title">Update the title of the Project?</label>
  <input type="text" name="title" value="<%= @project.title %>"><br>
  <button type="submit" name="button" value="Update Project">Update</button>
</form>

<form action="/project_details/<%= @project.id %>" method="post" autocomplete="off">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" name="button" value="Delete Project">Delete</button>
</form>
